In [7]:
import ibmdata
import pandas as pd

2023-07-10 17:35:16,109 INFO     ibmdata   : version 0.9.1 of ibmdata is available for install, you're using 0.8.9

In [1]:
def convert_list_to_SQL_input(mylist):
    out = ""
    for i,l in enumerate(mylist):
        if i != len(mylist)-1:
            out += "'" + l + "', "
        else:
            out += "'" + l + "'"
    return out

In [66]:
def generate_SQL_GroupBy(mydict, parm_label = 'parm_Label', val = 'parmYield', agg = 'AVG'):
    output = ''
    n = len(mydict)
    for i,parm in enumerate(mydict):
        if i == n-1:
            output += f"{agg}(CASE WHEN {parm_label} = '{parm}' THEN {val} ELSE NULL END) AS {mydict[parm]}"
        else:
            output += f"{agg}(CASE WHEN {parm_label} = '{parm}' THEN {val} ELSE NULL END) AS {mydict[parm]},\n"
    return output

In [101]:
parms = [
'Pele1~H4~M026VWBMarch90p655',
'Pele1~H4~M026VWBMarch90p75',
'Pele1~H4~M026VWBMarch91p05',
'Pele2~H4~M026VWBMarch90p655',
'Pele2~H4~M026VWBMarch90p75',
'Pele2~H4~M026VWBMarch91p05',
'Pele1~H4~K1KWMMarch90p60',
'Pele1~H4~K1KWMMarch90p655',
'Pele1~H4~K1KWMMarch90p75',
'Pele1~H4~K1KWMMarch91p05',
'Pele1~H4~M026March90p85',
'Pele1~H4~M026March90p90',
'Pele1~H4~M026March91p05',
'Pele1~H4~M032March90p655',
'Pele1~H4~M032March90p75',
'Pele1~H4~M032March90p875',
'Pele1~H4~M032March91p05',
'Pele2~H4~K1KWMMarch90p60',
'Pele2~H4~K1KWMMarch90p655',
'Pele2~H4~K1KWMMarch90p75',
'Pele2~H4~K1KWMMarch90p875',
'Pele2~H4~K1KWMMarch91p05',
'Pele2~H4~M026March90p85',
'Pele2~H4~M026March90p90',
'Pele2~H4~M026March91p05',
'Pele2~H4~M032March90p655',
'Pele2~H4~M032March90p75',
'Pele2~H4~M032March90p875',
'Pele2~H4~M032March91p05',
'SAIL1_H4_0p50Vto1p05V_PerfectYield',
'SAIL1_H4_0p65Vto1p05V_PerfectYield',
'SAIL1_H4_1p05V_SkipTest_Yield',
'SAIL1_H4_0p65V_SkipTest_Yield',
'SAIL1_H4_0p50V_SkipTest_Yield',
'SAIL1_H4_0p75V_SkipTest_Yield',
'SAIL1_H4_Continuity_PerfectYield',
'SAILALL_H4_0p50Vto1p05V_PerfectYield',
'SAILALL_H4_0p65Vto1p05V_PerfectYield']
parameters = convert_list_to_SQL_input(parms)

In [102]:
mydict = {
'Pele1~H4~M026VWBMarch90p655':'Pele1_M026VWB_0p655v',
'Pele1~H4~M026VWBMarch90p75':'Pele1_M026VWB_0p75v',
'Pele1~H4~M026VWBMarch91p05':'Pele1_M026VWB_1p05v',
'Pele2~H4~M026VWBMarch90p655':'Pele2_M026VWB_0p655v',
'Pele2~H4~M026VWBMarch90p75':'Pele2_M026VWB_0p75v',
'Pele2~H4~M026VWBMarch91p05':'Pele2_M026VWB_1p05v',
'Pele1~H4~K1KWMMarch90p60':'Pele1_1Kx80_0p6v',
'Pele1~H4~K1KWMMarch90p655':'Pele1_1Kx80_0p655v',
'Pele1~H4~K1KWMMarch90p75':'Pele1_1Kx80_0p75v',
'Pele1~H4~K1KWMMarch91p05':'Pele1_1Kx80_1p05v',
'Pele1~H4~M026March90p85':'Pele1_M026_0p85v',
'Pele1~H4~M026March90p90':'Pele1_M026_0p90v',
'Pele1~H4~M026March91p05':'Pele1_M026_1p05v',
'Pele1~H4~M032March90p655':'Pele1_M032_0p655v',
'Pele1~H4~M032March90p75':'Pele1_M032_0p75v',
'Pele1~H4~M032March90p875':'Pele1_M032_0p875v',
'Pele1~H4~M032March91p05':'Pele1_M032_1p05v',
'Pele2~H4~K1KWMMarch90p60':'Pele2_1Kx80_0p6v',
'Pele2~H4~K1KWMMarch90p655':'Pele2_1Kx80_0p655v',
'Pele2~H4~K1KWMMarch90p75':'Pele2_1Kx80_0p75v',
'Pele2~H4~K1KWMMarch90p875':'Pele2_1Kx80_0p875v',
'Pele2~H4~K1KWMMarch91p05':'Pele2_1Kx80_1p05v',
'Pele2~H4~M026March90p85':'Pele2_M026_0p85v',
'Pele2~H4~M026March90p90':'Pele2_M026_0p90v',
'Pele2~H4~M026March91p05':'Pele2_M026_1p05v',
'Pele2~H4~M032March90p655':'Pele2_M032_0p655v',
'Pele2~H4~M032March90p75':'Pele2_M032_0p75v',
'Pele2~H4~M032March90p875':'Pele2_M032_0p875v',
'Pele2~H4~M032March91p05':'Pele2_M032_1p05v',
'SAIL1_H4_0p50Vto1p05V_PerfectYield':'Sail1_Vmin',
'SAIL1_H4_0p65Vto1p05V_PerfectYield':'Sail1_Vnom',
'SAIL1_H4_0p65V_SkipTest_Yield':'Sail1_SkipTest_0p65v',
'SAIL1_H4_0p50V_SkipTest_Yield':'Sail1_SkipTest_0p50v',
'SAIL1_H4_0p75V_SkipTest_Yield':'Sail1_SkipTest_0p75v',
'SAIL1_H4_1p05V_SkipTest_Yield':'Sail1_SkipTest_1p05v',
'SAIL1_H4_Continuity_PerfectYield':'Sail1_Continuity',
'SAILALL_H4_0p50Vto1p05V_PerfectYield':'SailAll_Vmin',
'SAILALL_H4_0p65Vto1p05V_PerfectYield':'SailAll_Vnom'}
aggs = generate_SQL_GroupBy(mydict)

In [103]:
aggs

"AVG(CASE WHEN parm_Label = 'Pele1~H4~M026VWBMarch90p655' THEN parmYield ELSE NULL END) AS Pele1_M026VWB_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M026VWBMarch90p75' THEN parmYield ELSE NULL END) AS Pele1_M026VWB_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M026VWBMarch91p05' THEN parmYield ELSE NULL END) AS Pele1_M026VWB_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026VWBMarch90p655' THEN parmYield ELSE NULL END) AS Pele2_M026VWB_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026VWBMarch90p75' THEN parmYield ELSE NULL END) AS Pele2_M026VWB_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026VWBMarch91p05' THEN parmYield ELSE NULL END) AS Pele2_M026VWB_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~K1KWMMarch90p60' THEN parmYield ELSE NULL END) AS Pele1_1Kx80_0p6v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~K1KWMMarch90p655' THEN parmYield ELSE NULL END) AS Pele1_1Kx80_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~K1KWMMarch90p75' THEN parmYield ELSE NULL END) AS Pele1_1Kx80_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~K1KWMMarch91p05' THEN parmYield ELSE NULL END) AS Pele1_1Kx80_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M026March90p85' THEN parmYield ELSE NULL END) AS Pele1_M026_0p85v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M026March90p90' THEN parmYield ELSE NULL END) AS Pele1_M026_0p90v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M026March91p05' THEN parmYield ELSE NULL END) AS Pele1_M026_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M032March90p655' THEN parmYield ELSE NULL END) AS Pele1_M032_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M032March90p75' THEN parmYield ELSE NULL END) AS Pele1_M032_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M032March90p875' THEN parmYield ELSE NULL END) AS Pele1_M032_0p875v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M032March91p05' THEN parmYield ELSE NULL END) AS Pele1_M032_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~K1KWMMarch90p60' THEN parmYield ELSE NULL END) AS Pele2_1Kx80_0p6v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~K1KWMMarch90p655' THEN parmYield ELSE NULL END) AS Pele2_1Kx80_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~K1KWMMarch90p75' THEN parmYield ELSE NULL END) AS Pele2_1Kx80_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~K1KWMMarch90p875' THEN parmYield ELSE NULL END) AS Pele2_1Kx80_0p875v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~K1KWMMarch91p05' THEN parmYield ELSE NULL END) AS Pele2_1Kx80_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026March90p85' THEN parmYield ELSE NULL END) AS Pele2_M026_0p85v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026March90p90' THEN parmYield ELSE NULL END) AS Pele2_M026_0p90v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026March91p05' THEN parmYield ELSE NULL END) AS Pele2_M026_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M032March90p655' THEN parmYield ELSE NULL END) AS Pele2_M032_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M032March90p75' THEN parmYield ELSE NULL END) AS Pele2_M032_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M032March90p875' THEN parmYield ELSE NULL END) AS Pele2_M032_0p875v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M032March91p05' THEN parmYield ELSE NULL END) AS Pele2_M032_1p05v,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_0p50Vto1p05V_PerfectYield' THEN parmYield ELSE NULL END) AS Sail1_Vmin,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_0p65Vto1p05V_PerfectYield' THEN parmYield ELSE NULL END) AS Sail1_Vnom,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_0p65V_SkipTest_Yield' THEN parmYield ELSE NULL END) AS Sail1_SkipTest_0p65v,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_0p50V_SkipTest_Yield' THEN parmYield ELSE NULL END) AS Sail1_SkipTest_0p50v,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_0p75V_SkipTest_Yield' THEN parmYield ELSE NULL END) AS Sail1_SkipTest_0p75v,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_1p05V_SkipTest_Yield' THEN parmYield ELSE NULL END) AS Sail1_SkipTest_1p05v,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_Continuity_PerfectYield' THEN parmYield ELSE NULL END) AS Sail1_Continuity,\nAVG(CASE WHEN parm_Label = 'SAILALL_H4_0p50Vto1p05V_PerfectYield' THEN parmYield ELSE NULL END) AS SailAll_Vmin,\nAVG(CASE WHEN parm_Label = 'SAILALL_H4_0p65Vto1p05V_PerfectYield' THEN parmYield ELSE NULL END) AS SailAll_Vnom"

In [64]:
QUERY = f"""
SELECT
    lot_Id, LEFT(wafer_id, 5) AS lot_id_base, wafer_Id, normalized_TestX AS chipX, normalized_TestY AS chipY,
    family_Code, last_TestTimeStamp AS date, tw.calcdefs, parm_Label AS PARAMETER, parmValue, parmYield AS yield,
    radius_Center_5, quadrant
FROM
    DMIW.ChipParmFactR cpfr
    INNER JOIN DMIW_SYSPRC.TestParm tp ON cpfr.testparmkey = tp.testparmkey 
    INNER JOIN DMIW_SYSPRC.Geography g ON cpfr.geographykey = g.geographykey 
    INNER JOIN DMIW_SYSPRC.testedwafer tw ON cpfr.testedwaferkey = tw.testedwaferkey
WHERE ( Last_test_date >= (current date - 300 days))
    AND parm_Label in ({parameters})
    AND Tech_id = '5HPP'
    AND Level = 'H4'
    AND cpfr.parmValue IS NOT NULL
    AND abs(parmValue) < 1e25
ORDER BY
    lot_Id, wafer_Id, normalized_TestX, normalized_TestY, parm_Label, tw.calcdefs
"""

In [75]:
QUERY = f"""
WITH cte AS(
    SELECT
        lot_Id, LEFT(wafer_id, 5) AS lot_id_base, wafer_Id, family_Code, 
        MIN(last_TestTimeStamp) AS earliest_test_date,
        {aggs}
    FROM
        DMIW.ChipParmFactR cpfr
        INNER JOIN DMIW_SYSPRC.TestParm tp ON cpfr.testparmkey = tp.testparmkey 
        INNER JOIN DMIW_SYSPRC.Geography g ON cpfr.geographykey = g.geographykey 
        INNER JOIN DMIW_SYSPRC.testedwafer tw ON cpfr.testedwaferkey = tw.testedwaferkey
    WHERE ( Last_test_date >= (current date - 300 days))
        AND parm_Label in ({parameters})
        AND Tech_id = '5HPP'
        AND Level = 'H4'
        AND cpfr.parmValue IS NOT NULL
        AND abs(parmValue) < 1e25
    GROUP BY lot_id, LEFT(wafer_id, 5), wafer_Id, family_Code
    ORDER BY
        lot_Id, wafer_Id
)
SELECT *
FROM cte
"""

In [76]:
df = ibmdata.isdw.query(QUERY)

IBMDataError: failed to establish connection to DB2 database 'DATABASE=ISDW;HOSTNAME=isdwproddb.pok.ibm.com;PROTOCOL=TCPIP;UID=acyang;PWD=<hidden>;CURRENTSCHEMA=dmiw_systems;PORT=50000' as 'acyang': [IBM][CLI Driver] SQL30081N  A communication error has been detected. Communication protocol being used: "TCP/IP".  Communication API being used: "SOCKETS".  Location where the error was detected: "9.47.12.34".  Communication function detecting the error: "connect".  Protocol specific error code(s): "61", "*", "*".  SQLSTATE=08001 SQLCODE=-30081

In [71]:
df

,lot_id,lot_id_base,wafer_id,family_code,earliest_test_date,pele1_1kx80_0p6v,pele1_1kx80_0p655v,pele1_1kx80_0p75v,pele1_1kx80_1p05v,pele1_m026_0p85v,...,pele2_m032_1p05v,sail1_vmin,sail1_vnom,sail1_skiptest_0p65v,sail1_skiptest_0p50v,sail1_skiptest_0p75v,sail1_skiptest_1p05v,sail1_continuity,sailall_vmin,sailall_vnom
0,AZDMH.1,AZDMH,AZDMH-01,5A,2022-09-25 18:50:58,36.708861,63.291139,89.873418,100.000000,NaN,...,100.000000,97.468354,100.000000,100.0,100.000000,100.000000,100.000000,100.000000,96.052632,100.000000
1,AZDMH.1,AZDMH,AZDMH-02,5A,2022-09-25 18:58:14,58.227848,82.278481,100.000000,100.000000,NaN,...,100.000000,100.000000,100.000000,100.0,100.000000,100.000000,100.000000,100.000000,98.684211,100.000000
2,AZDMH.1,AZDMH,AZDMH-03,5A,2022-09-25 19:04:28,20.253165,65.822785,98.734177,98.734177,NaN,...,98.734177,98.734177,98.734177,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
3,AZDMH.1,AZDMH,AZDMH-04,5A,2022-09-25 19:10:50,46.835443,78.481013,98.734177,100.000000,NaN,...,100.000000,100.000000,100.000000,100.0,100.000000,100.000000,100.000000,100.000000,96.052632,98.684211
4,AZDMH.1,AZDMH,AZDMH-05,5A,2022-09-25 19:17:20,55.696203,89.873418,100.000000,100.000000,NaN,...,98.734177,98.734177,100.000000,100.0,100.000000,100.000000,100.000000,100.000000,98.684211,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,FZ2DZ.1,FZ2DZ,FZ2DZ-17,5A,2023-06-29 06:55:25,13.924051,74.683544,98.734177,100.000000,0.0,...,100.000000,94.936709,98.734177,100.0,100.000000,100.000000,100.000000,100.000000,92.105263,98.684211
222,FZ2DZ.1,FZ2DZ,FZ2DZ-18,5A,2023-06-29 07:05:28,3.797468,53.164557,96.202532,100.000000,0.0,...,100.000000,94.936709,100.000000,100.0,100.000000,100.000000,100.000000,100.000000,92.105263,100.000000
223,FZ2DZ.1,FZ2DZ,FZ2DZ-20,5A,2023-06-29 07:15:04,13.924051,73.417722,97.468354,100.000000,0.0,...,97.468354,100.000000,100.000000,100.0,100.000000,100.000000,100.000000,100.000000,97.368421,100.000000
224,FZ2DZ.1,FZ2DZ,FZ2DZ-21,5A,2023-06-29 07:24:39,22.784810,70.886076,98.734177,100.000000,0.0,...,100.000000,98.734177,100.000000,100.0,100.000000,100.000000,100.000000,100.000000,93.421053,97.368421
225,FZ2DZ.1,FZ2DZ,FZ2DZ-22,5A,2023-06-29 07:34:18,20.253165,70.886076,97.468354,100.000000,0.0,...,98.734177,92.405063,97.468354,100.0,98.734177,98.734177,98.734177,98.734177,88.000000,97.333333

In [104]:
fev = '5HPP_eval_CT2_MPW15ER5ER6'
QUERY = f"""
WITH cte AS(
    SELECT
        lot_Id, LEFT(wafer_id, 5) AS lot_id_base, wafer_Id, family_Code, 
        MIN(last_TestTimeStamp) AS earliest_test_date,
        {aggs}
    FROM
        DMIW.ChipParmFactR cpfr
        INNER JOIN DMIW_SYSPRC.TestParm tp ON cpfr.testparmkey = tp.testparmkey 
        INNER JOIN DMIW_SYSPRC.Geography g ON cpfr.geographykey = g.geographykey 
        INNER JOIN DMIW_SYSPRC.testedwafer tw ON cpfr.testedwaferkey = tw.testedwaferkey
    WHERE ( Last_test_date >= (current date - 300 days))
        AND parm_Label in ({parameters})
        AND Tech_id = '5HPP'
        AND Level = 'H4'
        AND cpfr.parmValue IS NOT NULL
        AND abs(parmValue) < 1e25
        AND lot_id IN ('FZ2DZ.1','FZ2DY.1')
    GROUP BY lot_id, LEFT(wafer_id, 5), wafer_Id, family_Code
    ORDER BY
        lot_Id, wafer_Id
),
cte2 AS(
    SELECT lot_id, wafer_id, ewr_name, cell_name
    FROM DMIW_SYSTEMS.EWR_EVENT_FACT eef
        INNER JOIN DMIW_SYSTEMS.WAFER w ON eef.waferkey = w.waferkey
        INNER JOIN DMIW_SYSTEMS.PRODUCT p ON eef.productkey = p.productkey
        INNER JOIN DMIW_SYSTEMS.EWR_EVENT ee ON eef.ewr_eventkey = ee.ewr_eventkey
        INNER JOIN DMIW_SYSTEMS.EWR_CELL ec ON eef.ewr_cellkey = ec.ewr_cellkey
    WHERE lot_id IN ('FZ2DZ.1','FZ2DY.1')
        AND EWR_NAME IN ('{fev}')
)
SELECT cte.*, ewr_name, cell_name
FROM cte
    INNER JOIN cte2 ON cte.wafer_id = cte2.wafer_id
"""

In [105]:
df = ibmdata.isdw.query(QUERY)

2023-07-12 15:51:04,964 INFO     ibmdata   : retrieved (26, 45) (rows, cols) of data in 0:00:03.464324 from ISDW

In [106]:
df.to_csv("~/Downloads/sdf.csv")

In [98]:
import pandas as pd
import ibmdata
param_df = pd.read_csv('~/Documents/FinalParmList.csv')

param_df.head()

,Analysis_group,parm_label,test_level,stat,LSL,Target,USL,Key,parm_type,Exponential
0,IQC metrology,FIN PW,Metrology,Parametric,NaN,NaN,NaN,L1,Metrology,NaN
1,IQC metrology,FC ACI CD (54CPP&1CPP),Metrology,Parametric,NaN,0.0330,NaN,L1,Metrology,NaN
2,IQC metrology,FE ACI CD (54CPP&1CPP),Metrology,Parametric,NaN,0.0323,NaN,L1,Metrology,NaN
3,IQC metrology,RX ACI CD,Metrology,Parametric,NaN,0.0726,NaN,L1,Metrology,NaN
4,IQC metrology,1.5 DTI Depth,Metrology,Parametric,NaN,177.0000,NaN,L1,Metrology,NaN

In [99]:
schema = 'CRB'
new_qdat_table = 'fab_event_dashboard_params'

# Add the df as a table in qdat.
param_df.to_qdat_table(schema, new_qdat_table, if_exists='replace')
ibmdata.qdat.table_exists(schema, new_qdat_table)

# Set the data table permissions.
ibmdata.qdat.set_permissions(schema, new_qdat_table, '300mm_systems', read=True, write=True)

2023-07-12 12:30:17,713 INFO     ibmdata   : retrieved (0, 85) (rows, cols) of data in 0:00:00.319980 from CAYCE
2023-07-12 12:30:17,844 WARNING  ibmdata   : unable to determine DB2 type for empty data series USL, setting to VARCHAR(32)
2023-07-12 12:30:19,082 INFO     ibmdata   : retrieved (1, 85) (rows, cols) of data in 0:00:00.299337 from CAYCE
2023-07-12 12:30:19,660 INFO     ibmdata   : retrieved (10, 58) (rows, cols) of data in 0:00:00.318164 from CAYCE
2023-07-12 12:30:22,104 INFO     ibmdata   : retrieved (1, 85) (rows, cols) of data in 0:00:00.288725 from CAYCE
2023-07-12 12:30:23,047 INFO     ibmdata   : processed 1279 rows in 0:00:00.769515
2023-07-12 12:30:27,701 INFO     ibmdata   : retrieved (1, 85) (rows, cols) of data in 0:00:00.288028 from CAYCE
2023-07-12 12:30:30,113 INFO     ibmdata   : retrieved (1, 85) (rows, cols) of data in 0:00:00.287633 from CAYCE

In [100]:
ibmdata.qdat.query("SELECT * FROM CRB.fab_event_dashboard_params")

2023-07-12 12:31:16,007 INFO     ibmdata   : retrieved (1279, 10) (rows, cols) of data in 0:00:00.475247 from CAYCE

,analysis_group,parm_label,test_level,stat,lsl,target,usl,key,parm_type,exponential
0,IQC metrology,FIN PW,Metrology,Parametric,NaN,NaN,None,L1,Metrology,None
1,IQC metrology,FC ACI CD (54CPP&1CPP),Metrology,Parametric,NaN,0.0330,None,L1,Metrology,None
2,IQC metrology,FE ACI CD (54CPP&1CPP),Metrology,Parametric,NaN,0.0323,None,L1,Metrology,None
3,IQC metrology,RX ACI CD,Metrology,Parametric,NaN,0.0726,None,L1,Metrology,None
4,IQC metrology,1.5 DTI Depth,Metrology,Parametric,NaN,177.0000,None,L1,Metrology,None
...,...,...,...,...,...,...,...,...,...,...
1274,Inline_functional,SAIL1_H4_0p50V_SkipTest_Yield,H4,Yield,NaN,100.0000,None,L3,Electrical,None
1275,Inline_functional,SAIL1_H4_0p75V_SkipTest_Yield,H4,Yield,NaN,100.0000,None,L3,Electrical,None
1276,Inline_functional,SAIL1_H4_Continuity_PerfectYield,H4,Yield,NaN,100.0000,None,L3,Electrical,None
1277,Inline_functional,SAILALL_H4_0p50Vto1p05V_PerfectYield,H4,Yield,NaN,100.0000,None,L1,Electrical,None
1278,Inline_functional,SAILALL_H4_0p65Vto1p05V_PerfectYield,H4,Yield,NaN,100.0000,None,L1,Electrical,None

In [108]:
q = """
SELECT * FROM DMIW_SYSTEMS.EWR_EVENT_FACT
limit 10
"""
ibmdata.qdat.query(q)

IBMDataError: failed to establish connection to DB2 database 'DATABASE=CAYCE;HOSTNAME=isdwrpt10.pok.ibm.com;PROTOCOL=TCPIP;UID=acyang@us.ibm.com;PWD=<hidden>;PORT=50000' as 'acyang@us.ibm.com': [IBM][CLI Driver] SQL30082N  Security processing failed with reason "24" ("USERNAME AND/OR PASSWORD INVALID").  SQLSTATE=08001 SQLCODE=-30082