In [4]:
import ibmdata
import pandas as pd

In [5]:
def convert_list_to_SQL_input(mylist):
    out = ""
    for i,l in enumerate(mylist):
        if i != len(mylist)-1:
            out += "'" + l + "', "
        else:
            out += "'" + l + "'"
    return out

In [6]:
def generate_SQL_GroupBy(mydict, parm_label = 'parm_Label', val = 'parmYield', agg = 'AVG'):
    output = ''
    n = len(mydict)
    for i,parm in enumerate(mydict):
        if i == n-1:
            output += f"{agg}(CASE WHEN {parm_label} = '{parm}' THEN {val} ELSE NULL END) AS {mydict[parm]}"
        else:
            output += f"{agg}(CASE WHEN {parm_label} = '{parm}' THEN {val} ELSE NULL END) AS {mydict[parm]},\n"
    return output

In [7]:
parms = [
'Pele1~H4~M026VWBMarch90p655',
'Pele1~H4~M026VWBMarch90p75',
'Pele1~H4~M026VWBMarch91p05',
'Pele2~H4~M026VWBMarch90p655',
'Pele2~H4~M026VWBMarch90p75',
'Pele2~H4~M026VWBMarch91p05',
'Pele1~H4~K1KWMMarch90p60',
'Pele1~H4~K1KWMMarch90p655',
'Pele1~H4~K1KWMMarch90p75',
'Pele1~H4~K1KWMMarch91p05',
'Pele1~H4~M026March90p85',
'Pele1~H4~M026March90p90',
'Pele1~H4~M026March91p05',
'Pele1~H4~M032March90p655',
'Pele1~H4~M032March90p75',
'Pele1~H4~M032March90p875',
'Pele1~H4~M032March91p05',
'Pele2~H4~K1KWMMarch90p60',
'Pele2~H4~K1KWMMarch90p655',
'Pele2~H4~K1KWMMarch90p75',
'Pele2~H4~K1KWMMarch90p875',
'Pele2~H4~K1KWMMarch91p05',
'Pele2~H4~M026March90p85',
'Pele2~H4~M026March90p90',
'Pele2~H4~M026March91p05',
'Pele2~H4~M032March90p655',
'Pele2~H4~M032March90p75',
'Pele2~H4~M032March90p875',
'Pele2~H4~M032March91p05',
'SAIL1_H4_0p50Vto1p05V_PerfectYield',
'SAIL1_H4_0p65Vto1p05V_PerfectYield',
'SAIL1_H4_1p05V_SkipTest_Yield',
'SAIL1_H4_0p65V_SkipTest_Yield',
'SAIL1_H4_0p50V_SkipTest_Yield',
'SAIL1_H4_0p75V_SkipTest_Yield',
'SAIL1_H4_Continuity_PerfectYield',
'SAILALL_H4_0p50Vto1p05V_PerfectYield',
'SAILALL_H4_0p65Vto1p05V_PerfectYield']
parameters = convert_list_to_SQL_input(parms)

In [52]:
mydict = {
'Pele1~H4~M026VWBMarch90p655':'Pele1_M026VWB_0p655v',
'Pele1~H4~M026VWBMarch90p75':'Pele1_M026VWB_0p75v',
'Pele1~H4~M026VWBMarch91p05':'Pele1_M026VWB_1p05v',
'Pele2~H4~M026VWBMarch90p655':'Pele2_M026VWB_0p655v',
'Pele2~H4~M026VWBMarch90p75':'Pele2_M026VWB_0p75v',
'Pele2~H4~M026VWBMarch91p05':'Pele2_M026VWB_1p05v',
'Pele1~H4~K1KWMMarch90p60':'Pele1_1Kx80_0p6v',
'Pele1~H4~K1KWMMarch90p655':'Pele1_1Kx80_0p655v',
'Pele1~H4~K1KWMMarch90p75':'Pele1_1Kx80_0p75v',
'Pele1~H4~K1KWMMarch91p05':'Pele1_1Kx80_1p05v',
'Pele1~H4~M026March90p85':'Pele1_M026_0p85v',
'Pele1~H4~M026March90p90':'Pele1_M026_0p90v',
'Pele1~H4~M026March91p05':'Pele1_M026_1p05v',
'Pele1~H4~M032March90p655':'Pele1_M032_0p655v',
'Pele1~H4~M032March90p75':'Pele1_M032_0p75v',
'Pele1~H4~M032March90p875':'Pele1_M032_0p875v',
'Pele1~H4~M032March91p05':'Pele1_M032_1p05v',
'Pele2~H4~K1KWMMarch90p60':'Pele2_1Kx80_0p6v',
'Pele2~H4~K1KWMMarch90p655':'Pele2_1Kx80_0p655v',
'Pele2~H4~K1KWMMarch90p75':'Pele2_1Kx80_0p75v',
'Pele2~H4~K1KWMMarch90p875':'Pele2_1Kx80_0p875v',
'Pele2~H4~K1KWMMarch91p05':'Pele2_1Kx80_1p05v',
'Pele2~H4~M026March90p85':'Pele2_M026_0p85v',
'Pele2~H4~M026March90p90':'Pele2_M026_0p90v',
'Pele2~H4~M026March91p05':'Pele2_M026_1p05v',
'Pele2~H4~M032March90p655':'Pele2_M032_0p655v',
'Pele2~H4~M032March90p75':'Pele2_M032_0p75v',
'Pele2~H4~M032March90p875':'Pele2_M032_0p875v',
'Pele2~H4~M032March91p05':'Pele2_M032_1p05v',
'SAIL1_H4_0p50Vto1p05V_PerfectYield':'Sail1_Vmin',
'SAIL1_H4_0p65Vto1p05V_PerfectYield':'Sail1_Vnom',
'SAIL1_H4_0p65V_SkipTest_Yield':'Sail1_SkipTest_0p65v',
'SAIL1_H4_0p50V_SkipTest_Yield':'Sail1_SkipTest_0p50v',
'SAIL1_H4_0p75V_SkipTest_Yield':'Sail1_SkipTest_0p75v',
'SAIL1_H4_1p05V_SkipTest_Yield':'Sail1_SkipTest_1p05v',
'SAIL1_H4_Continuity_PerfectYield':'Sail1_Continuity',
'SAILALL_H4_0p50Vto1p05V_PerfectYield':'SailAll_Vmin',
'SAILALL_H4_0p65Vto1p05V_PerfectYield':'SailAll_Vnom'}
aggs = generate_SQL_GroupBy(mydict)

In [43]:
aggs

"AVG(CASE WHEN parm_Label = 'Pele1~H4~M026VWBMarch90p655' THEN parmYield ELSE NULL END) AS Pele1_M026VWB_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M026VWBMarch90p75' THEN parmYield ELSE NULL END) AS Pele1_M026VWB_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M026VWBMarch91p05' THEN parmYield ELSE NULL END) AS Pele1_M026VWB_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026VWBMarch90p655' THEN parmYield ELSE NULL END) AS Pele2_M026VWB_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026VWBMarch90p75' THEN parmYield ELSE NULL END) AS Pele2_M026VWB_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026VWBMarch91p05' THEN parmYield ELSE NULL END) AS Pele2_M026VWB_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~K1KWMMarch90p60' THEN parmYield ELSE NULL END) AS Pele1_1Kx80_0p6v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~K1KWMMarch90p655' THEN parmYield ELSE NULL END) AS Pele1_1Kx80_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~K1KWMMarch90p75' THEN parmYield ELSE NULL END) AS Pele1_1Kx80_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~K1KWMMarch91p05' THEN parmYield ELSE NULL END) AS Pele1_1Kx80_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M026March90p85' THEN parmYield ELSE NULL END) AS Pele1_M026_0p85v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M026March90p90' THEN parmYield ELSE NULL END) AS Pele1_M026_0p90v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M026March91p05' THEN parmYield ELSE NULL END) AS Pele1_M026_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M032March90p655' THEN parmYield ELSE NULL END) AS Pele1_M032_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M032March90p75' THEN parmYield ELSE NULL END) AS Pele1_M032_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M032March90p875' THEN parmYield ELSE NULL END) AS Pele1_M032_0p875v,\nAVG(CASE WHEN parm_Label = 'Pele1~H4~M032March91p05' THEN parmYield ELSE NULL END) AS Pele1_M032_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~K1KWMMarch90p60' THEN parmYield ELSE NULL END) AS Pele2_1Kx80_0p6v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~K1KWMMarch90p655' THEN parmYield ELSE NULL END) AS Pele2_1Kx80_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~K1KWMMarch90p75' THEN parmYield ELSE NULL END) AS Pele2_1Kx80_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~K1KWMMarch90p875' THEN parmYield ELSE NULL END) AS Pele2_1Kx80_0p875v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~K1KWMMarch91p05' THEN parmYield ELSE NULL END) AS Pele2_1Kx80_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026March90p85' THEN parmYield ELSE NULL END) AS Pele2_M026_0p85v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026March90p90' THEN parmYield ELSE NULL END) AS Pele2_M026_0p90v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M026March91p05' THEN parmYield ELSE NULL END) AS Pele2_M026_1p05v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M032March90p655' THEN parmYield ELSE NULL END) AS Pele2_M032_0p655v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M032March90p75' THEN parmYield ELSE NULL END) AS Pele2_M032_0p75v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M032March90p875' THEN parmYield ELSE NULL END) AS Pele2_M032_0p875v,\nAVG(CASE WHEN parm_Label = 'Pele2~H4~M032March91p05' THEN parmYield ELSE NULL END) AS Pele2_M032_1p05v,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_0p50Vto1p05V_PerfectYield' THEN parmYield ELSE NULL END) AS Sail1_Vmin,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_0p65Vto1p05V_PerfectYield' THEN parmYield ELSE NULL END) AS Sail1_Vnom,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_0p65V_SkipTest_Yield' THEN parmYield ELSE NULL END) AS Sail1_SkipTest_0p65v,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_0p50V_SkipTest_Yield' THEN parmYield ELSE NULL END) AS Sail1_SkipTest_0p50v,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_0p75V_SkipTest_Yield' THEN parmYield ELSE NULL END) AS Sail1_SkipTest_0p75v,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_1p05V_SkipTest_Yield' THEN parmYield ELSE NULL END) AS Sail1_SkipTest_1p05v,\nAVG(CASE WHEN parm_Label = 'SAIL1_H4_Continuity_PerfectYield' THEN parmYield ELSE NULL END) AS Sail1_Continuity,\nAVG(CASE WHEN parm_Label = 'SAILALL_H4_0p50Vto1p05V_PerfectYield' THEN parmYield ELSE NULL END) AS SailAll_Vmin,\nAVG(CASE WHEN parm_Label = 'SAILALL_H4_0p65Vto1p05V_PerfectYield' THEN parmYield ELSE NULL END) AS SailAll_Vnom"

In [13]:
# Pull Chip Level Data

QUERY = f"""
SELECT
    lot_Id, LEFT(wafer_id, 5) AS lot_id_base, wafer_Id, normalized_TestX AS chipX, normalized_TestY AS chipY,
    family_Code, last_TestTimeStamp AS date, tw.calcdefs, parm_Label AS PARAMETER, parmValue, parmYield AS yield,
    radius_Center_5, quadrant
FROM
    DMIW.ChipParmFactR cpfr
    INNER JOIN DMIW_SYSPRC.TestParm tp ON cpfr.testparmkey = tp.testparmkey 
    INNER JOIN DMIW_SYSPRC.Geography g ON cpfr.geographykey = g.geographykey 
    INNER JOIN DMIW_SYSPRC.testedwafer tw ON cpfr.testedwaferkey = tw.testedwaferkey
WHERE ( Last_test_date >= (current date - 300 days))
    AND parm_Label in ({parameters})
    AND Tech_id = '5HPP'
    AND Level = 'H4'
    AND cpfr.parmValue IS NOT NULL
    AND abs(parmValue) < 1e25
ORDER BY
    lot_Id, wafer_Id, normalized_TestX, normalized_TestY, parm_Label, tw.calcdefs
"""

In [53]:
# Chip Level Data aggregated by wafer

QUERY = f"""
WITH cte AS(
    SELECT
        lot_Id, LEFT(wafer_id, 5) AS lot_id_base, wafer_Id, family_Code, 
        MIN(last_TestTimeStamp) AS earliest_test_date,
        {aggs}
    FROM
        DMIW.ChipParmFactR cpfr
        INNER JOIN DMIW_SYSPRC.TestParm tp ON cpfr.testparmkey = tp.testparmkey 
        INNER JOIN DMIW_SYSPRC.Geography g ON cpfr.geographykey = g.geographykey 
        INNER JOIN DMIW_SYSPRC.testedwafer tw ON cpfr.testedwaferkey = tw.testedwaferkey
    WHERE ( Last_test_date >= (current date - 300 days))
        AND parm_Label in ({parameters})
        AND Tech_id = '5HPP'
        AND Level = 'H4'
        AND cpfr.parmValue IS NOT NULL
        AND abs(parmValue) < 1e25
    GROUP BY lot_id, LEFT(wafer_id, 5), wafer_Id, family_Code
    ORDER BY
        lot_Id, wafer_Id
)
SELECT *
FROM cte
"""

In [54]:
df = ibmdata.isdw.query(QUERY)

2023-07-28 15:46:39,968 INFO     ibmdata   : retrieved (171, 43) (rows, cols) of data in 0:00:13.178052 from ISDW

In [55]:
df

,lot_id,lot_id_base,wafer_id,family_code,earliest_test_date,pele1_m026vwb_0p655v,pele1_m026vwb_0p75v,pele1_m026vwb_1p05v,pele2_m026vwb_0p655v,pele2_m026vwb_0p75v,...,pele2_m032_1p05v,sail1_vmin,sail1_vnom,sail1_skiptest_0p65v,sail1_skiptest_0p50v,sail1_skiptest_0p75v,sail1_skiptest_1p05v,sail1_continuity,sailall_vmin,sailall_vnom
0,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-19 20:28:31,98.734177,98.734177,96.202532,100.000000,100.000000,...,98.734177,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,98.666667,100.000000
1,AZDU1D.1,AZDU1,AZDU1-02,5A,2023-02-19 20:35:21,97.468354,100.000000,100.000000,100.000000,100.000000,...,98.717949,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,98.684211,98.684211
2,AZDU1D.1,AZDU1,AZDU1-07,5A,2023-02-19 21:10:13,96.202532,96.202532,96.202532,97.468354,97.468354,...,100.000000,97.468354,97.468354,98.734177,98.734177,98.734177,98.734177,100.000000,96.052632,96.052632
3,AZDU1D.1,AZDU1,AZDU1-08,5A,2023-02-19 21:18:44,98.734177,98.734177,98.734177,100.000000,100.000000,...,100.000000,97.468354,97.468354,98.734177,98.734177,98.734177,98.734177,100.000000,96.052632,96.052632
4,AZDU1D.1,AZDU1,AZDU1-09,5A,2023-02-19 21:27:37,97.468354,97.468354,97.468354,97.468354,97.468354,...,100.000000,94.936709,97.468354,100.000000,100.000000,100.000000,100.000000,100.000000,94.736842,98.684211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,FZ2DZ.1,FZ2DZ,FZ2DZ-17,5A,2023-06-29 06:55:25,89.873418,98.734177,100.000000,89.873418,98.734177,...,100.000000,94.936709,98.734177,100.000000,100.000000,100.000000,100.000000,100.000000,92.000000,98.666667
167,FZ2DZ.1,FZ2DZ,FZ2DZ-18,5A,2023-06-29 07:05:28,70.886076,96.202532,98.734177,69.620253,97.468354,...,100.000000,94.936709,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,92.105263,100.000000
168,FZ2DZ.1,FZ2DZ,FZ2DZ-20,5A,2023-06-29 07:15:04,82.278481,100.000000,100.000000,79.746835,100.000000,...,97.468354,98.734177,98.734177,100.000000,98.734177,98.734177,98.734177,98.734177,97.333333,100.000000
169,FZ2DZ.1,FZ2DZ,FZ2DZ-21,5A,2023-06-29 07:24:39,83.544304,97.468354,97.468354,83.544304,98.734177,...,100.000000,97.468354,98.734177,98.734177,98.734177,100.000000,98.734177,100.000000,93.333333,97.333333
170,FZ2DZ.1,FZ2DZ,FZ2DZ-22,5A,2023-06-29 07:34:18,75.949367,96.202532,97.468354,70.886076,97.468354,...,98.734177,91.139241,97.468354,98.734177,98.734177,98.734177,98.734177,98.734177,86.666667,97.333333

In [44]:
# Chip Level Data aggregated by Zone and Qudrant (Drilldown)
QUERY = f"""
WITH cte AS(
    SELECT
        lot_Id, LEFT(wafer_id, 5) AS lot_id_base, wafer_Id, family_Code, radius_Center_5 AS ER_Zone,
        MIN(last_TestTimeStamp) AS earliest_test_date,
        {aggs}
    FROM
        DMIW.ChipParmFactR cpfr
        INNER JOIN DMIW_SYSPRC.TestParm tp ON cpfr.testparmkey = tp.testparmkey 
        INNER JOIN DMIW_SYSPRC.Geography g ON cpfr.geographykey = g.geographykey 
        INNER JOIN DMIW_SYSPRC.testedwafer tw ON cpfr.testedwaferkey = tw.testedwaferkey
    WHERE ( Last_test_date >= (current date - 300 days))
        AND parm_Label in ({parameters})
        AND Tech_id = '5HPP'
        AND Level = 'H4'
        AND cpfr.parmValue IS NOT NULL
        AND abs(parmValue) < 1e25
        AND wafer_id IN ('AZDU1-01')
    GROUP BY lot_id, LEFT(wafer_id, 5), wafer_Id, family_Code, radius_Center_5
    ORDER BY
        lot_Id, wafer_Id
)
SELECT *
FROM cte
"""

In [45]:
df = ibmdata.isdw.query(QUERY)

2023-07-28 15:26:34,129 INFO     ibmdata   : retrieved (5, 44) (rows, cols) of data in 0:00:00.740153 from ISDW

In [46]:
df

,lot_id,lot_id_base,wafer_id,family_code,er_zone,earliest_test_date,pele1_m026vwb_0p655v,pele1_m026vwb_0p75v,pele1_m026vwb_1p05v,pele2_m026vwb_0p655v,...,pele2_m032_1p05v,sail1_vmin,sail1_vnom,sail1_skiptest_0p65v,sail1_skiptest_0p50v,sail1_skiptest_0p75v,sail1_skiptest_1p05v,sail1_continuity,sailall_vmin,sailall_vnom
0,AZDU1D.1,AZDU1,AZDU1-01,5A,A,2023-02-19 20:28:31,100.0,100.0,100.000000,100.0,...,100.000000,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.000000,100.0
1,AZDU1D.1,AZDU1,AZDU1-01,5A,B,2023-02-19 20:28:31,100.0,100.0,100.000000,100.0,...,100.000000,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.000000,100.0
2,AZDU1D.1,AZDU1,AZDU1-01,5A,C,2023-02-19 20:28:31,100.0,100.0,100.000000,100.0,...,100.000000,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.000000,100.0
3,AZDU1D.1,AZDU1,AZDU1-01,5A,D,2023-02-19 20:28:31,100.0,100.0,96.153846,100.0,...,100.000000,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.000000,100.0
4,AZDU1D.1,AZDU1,AZDU1-01,5A,E,2023-02-19 20:28:31,96.0,96.0,92.000000,100.0,...,96.296296,100.0,100.0,100.0,100.0,100.0,100.0,100.0,95.454545,100.0

In [47]:
mydict = {
'A':'A',
'B':'B',
'C':'C',
'D':'D',
'E':'E'}
aggs = generate_SQL_GroupBy(mydict, parm_label = 'radius_Center_5', val = 'parmYield', agg = 'AVG')

In [48]:
aggs

"AVG(CASE WHEN radius_Center_5 = 'A' THEN parmYield ELSE NULL END) AS A,\nAVG(CASE WHEN radius_Center_5 = 'B' THEN parmYield ELSE NULL END) AS B,\nAVG(CASE WHEN radius_Center_5 = 'C' THEN parmYield ELSE NULL END) AS C,\nAVG(CASE WHEN radius_Center_5 = 'D' THEN parmYield ELSE NULL END) AS D,\nAVG(CASE WHEN radius_Center_5 = 'E' THEN parmYield ELSE NULL END) AS E"

In [49]:
QUERY = f"""
WITH cte AS(
    SELECT
        lot_Id, LEFT(wafer_id, 5) AS lot_id_base, wafer_Id, family_Code,
        MIN(last_TestTimeStamp) AS earliest_test_date, parm_label,
        {aggs}
    FROM
        DMIW.ChipParmFactR cpfr
        INNER JOIN DMIW_SYSPRC.TestParm tp ON cpfr.testparmkey = tp.testparmkey 
        INNER JOIN DMIW_SYSPRC.Geography g ON cpfr.geographykey = g.geographykey 
        INNER JOIN DMIW_SYSPRC.testedwafer tw ON cpfr.testedwaferkey = tw.testedwaferkey
    WHERE ( Last_test_date >= (current date - 300 days))
        AND parm_Label in ({parameters})
        AND Tech_id = '5HPP'
        AND Level = 'H4'
        AND cpfr.parmValue IS NOT NULL
        AND abs(parmValue) < 1e25
        AND wafer_id IN ('AZDU1-01')
    GROUP BY lot_id, LEFT(wafer_id, 5), wafer_Id, family_Code, parm_label
    ORDER BY
        lot_Id, wafer_Id
)
SELECT *
FROM cte
"""

In [50]:
df = ibmdata.isdw.query(QUERY)

2023-07-28 15:26:41,647 INFO     ibmdata   : retrieved (38, 11) (rows, cols) of data in 0:00:00.607378 from ISDW

In [51]:
df

,lot_id,lot_id_base,wafer_id,family_code,earliest_test_date,parm_label,a,b,c,d,e
0,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~K1KWMMarch90p60,0.000000,0.0,33.333333,80.769231,92.000000
1,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~K1KWMMarch90p655,100.000000,50.0,86.666667,100.000000,96.000000
2,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~K1KWMMarch90p75,100.000000,100.0,100.000000,100.000000,100.000000
3,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~K1KWMMarch91p05,100.000000,100.0,100.000000,100.000000,100.000000
4,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~M026March90p85,0.000000,0.0,0.000000,0.000000,0.000000
5,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~M026March90p90,0.000000,0.0,0.000000,0.000000,0.000000
6,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~M026March91p05,0.000000,0.0,0.000000,15.384615,68.000000
7,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~M026VWBMarch90p655,100.000000,100.0,100.000000,100.000000,96.000000
8,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~M026VWBMarch90p75,100.000000,100.0,100.000000,100.000000,96.000000
9,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~M026VWBMarch91p05,100.000000,100.0,100.000000,96.153846,92.000000
10,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~M032March90p655,66.666667,80.0,86.666667,100.000000,96.000000
11,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~M032March90p75,100.000000,100.0,100.000000,100.000000,96.000000
12,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~M032March90p875,100.000000,100.0,100.000000,100.000000,96.000000
13,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele1~H4~M032March91p05,100.000000,100.0,100.000000,100.000000,96.000000
14,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~K1KWMMarch90p60,0.000000,0.0,47.058824,76.190476,85.185185
15,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~K1KWMMarch90p655,25.000000,50.0,76.470588,95.238095,100.000000
16,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~K1KWMMarch90p75,100.000000,100.0,94.117647,100.000000,100.000000
17,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~K1KWMMarch90p875,100.000000,100.0,100.000000,100.000000,100.000000
18,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~K1KWMMarch91p05,100.000000,100.0,100.000000,100.000000,100.000000
19,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~M026March90p85,0.000000,0.0,0.000000,0.000000,0.000000
20,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~M026March90p90,0.000000,0.0,0.000000,0.000000,14.814815
21,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~M026March91p05,0.000000,0.0,0.000000,38.095238,62.962963
22,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~M026VWBMarch90p655,100.000000,100.0,100.000000,100.000000,100.000000
23,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~M026VWBMarch90p75,100.000000,100.0,100.000000,100.000000,100.000000
24,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~M026VWBMarch91p05,100.000000,100.0,100.000000,100.000000,100.000000
25,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~M032March90p655,50.000000,60.0,88.235294,100.000000,92.592593
26,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~M032March90p75,100.000000,100.0,100.000000,100.000000,96.296296
27,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~M032March90p875,100.000000,100.0,100.000000,100.000000,96.296296
28,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-20 01:32:06,Pele2~H4~M032March91p05,100.000000,100.0,100.000000,100.000000,96.296296
29,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-19 20:28:31,SAIL1_H4_0p50V_SkipTest_Yield,100.000000,100.0,100.000000,100.000000,100.000000
30,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-19 20:28:31,SAIL1_H4_0p50Vto1p05V_PerfectYield,100.000000,100.0,100.000000,100.000000,100.000000
31,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-19 20:28:31,SAIL1_H4_0p65V_SkipTest_Yield,100.000000,100.0,100.000000,100.000000,100.000000
32,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-19 20:28:31,SAIL1_H4_0p65Vto1p05V_PerfectYield,100.000000,100.0,100.000000,100.000000,100.000000
33,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-19 20:28:31,SAIL1_H4_0p75V_SkipTest_Yield,100.000000,100.0,100.000000,100.000000,100.000000
34,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-19 20:28:31,SAIL1_H4_1p05V_SkipTest_Yield,100.000000,100.0,100.000000,100.000000,100.000000
35,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-19 20:28:31,SAIL1_H4_Continuity_PerfectYield,100.000000,100.0,100.000000,100.000000,100.000000
36,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-19 20:28:31,SAILALL_H4_0p50Vto1p05V_PerfectYield,100.000000,100.0,100.000000,100.000000,95.454545
37,AZDU1D.1,AZDU1,AZDU1-01,5A,2023-02-19 20:28:31,SAILALL_H4_0p65Vto1p05V_PerfectYield,100.000000,100.0,100.000000,100.000000,100.000000